<% if @article and @article.id != nil and User.find(session[:user]).admin? %>
	<h4>Merge Articles</h4>
	<% form_tag(merge_path(@article.id), method: "post") do %>
	  <%= label_tag(:merge_with, "Article ID", id: "merge_label") %>
	  <%= text_field_tag :merge_with %> <br>
	  <%= submit_tag "Merge" %>
	<% end %>
<% end %>
<%= debug(params) if Rails.env.development? %>